# Copy one of these environment examples to the matching filename in this folder:
#  - .env.local
#  - .env.development
#  - .env.test
#  - .env.production
#
# This repo loads the correct file automatically based on NODE_ENV.
# Example values are shown below.

NODE_ENV=development
PORT=3001
JWT_SECRET_KEY=YourSecretKey
JWT_REFRESH_SECRET_KEY=YourSecretKey
JWT_PASSWORD_RESET_SECRET=PasswordResetSecret
RESEND_API_KEY=ApiKey

# set jwt token expiration to 1d = 1 day or 1h = 1 hour, etc.
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=7d
JWT_PASSWORD_RESET_TOKEN_EXPIRATION=10m

# MongoDB connection URL
DATABASE_URL="mongodb://{localhost}:{port}/{dbName}"
CLIENT_URL=http://localhost:5173