# Copy one of these environment examples to the matching filename in this folder:
#  - .env.local
#  - .env.development
#  - .env.test
#  - .env.production
#
# This repo loads the correct file automatically based on NODE_ENV.
# Example values are shown below.

NODE_ENV=development
PORT=3002
JWT_SECRET_KEY=YourSecretKey
JWT_REFRESH_SECRET_KEY=YourSecretKey

# set jwt token expiration to 1d = 1 day or 1h = 1 hour, etc.
JWT_ACCESS_TOKEN_EXPIRATION=1d
JWT_REFRESH_TOKEN_EXPIRATION=1d
JWT_LOGOUT_TOKEN_EXPIRATION=1s

# MongoDB connection URL
DATABASE_URL="mongodb://{localhost}:{port}/{dbName}"